.buttonCard, .buttonCardDisable {
    background-color: rgb(23, 24, 66);
    color: #fff;
    padding: 5px 12px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.buttonCardDisable {
    cursor: not-allowed;
    background-color: red;
}
.wrapperTeste {
    padding: 0;
        div:nth-child(2) {
            background-color: rgb(51, 60, 107);
            
        }

}